body{
    background-color: rgb(240, 116, 15);
    min-height: 100%;
    padding:0 2em 0 2em;
    position: relative;
    margin: 0;
}
.border{
    background-color: rgb(245, 171, 96);
    margin: 0.5em;
    height: 1.5em;
    padding-top: .2em;
    border-radius: .25em;
}
h1{
    text-align: center;
    font-family:  cursive;
}
h1 span{
    color: white;
    font-family:  cursive;
}
hr{
    margin: 1em;
    border-color: rgb(0, 0, 0);
}
section{
    padding:2em;
    margin: 1em;
    border-radius: 1em;
}
h4 span{
    color: wheat;
}
img{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.price span{
    color:black;
}
h4{
    color:white
}
section p{
    color: wheat;
    font-weight: bold;
}
.small{
    background-color: rgb(236, 157, 9);
    flex:1;
}
.medium{
    background-color: rgb(212, 114, 2);
    flex:1;
}
.large{
    background-color: rgb(236, 157, 9);
    flex:1;
}
footer{
    display: flex;
    bottom: 0;
    background-color: rgb(197, 184, 7);
    font-style: italic;
    font-weight:bold;
    line-height: .25em;
    border-radius: 0.5em;
}
.footer{
    padding:1em;
    margin: 1em;
    flex:1;
}
@media (min-width:960px) {
    .sections{
        display: flex;
    }
    .priceImgBox{
        display: flex;
    }
    .priceImgBox h3{
        padding: 1em;
    }
    img{
        width: 150px;
    }
}
